<h1>{{invoice.title}}</h1>
<h3>{{invoice.submittedDate}}</h3>
<table>
    <tr>
        <th>Invoice For</th>
        <th>Payable to</th>
        <th>Invoice Number</th>
    </tr>

        
    <tr>
        <td>{{invoice.invoiceFor}}</td>
        <td>{{invoice.payableTo}}</td>
        <td>{{invoice.invoiceNumber}}</td>
    </tr>
    <tr>
        <td>{{invoice.companyName}}</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>{{invoice.streetAdd}}</td>
        <th>Project</th>
        <th>Due Date</th>
    </tr>
    <tr>
        <td>{{invoice.cityStateZip}}</td>
        <td>{{invoice.projectName}}</td>
        <td>{{invoice.dueDate}}</td>
    </tr>
</table>